<!-- aca se debe mostrar el producto con sus comentarios -->
<!-- ver codigo gitLab para ver sintaxis -->

 <ul class="list-group">
   <li>hola</li>
  <!--{{#each comentarios}}

      <li class="list-group-item"><s>{{id_producto}} ----- {{comentario}} ----- {{puntaje}}</s></li>

  {{/each}}-->
</ul>
