
 <ul class="list-group">
   <li>hola</li>
   <li>{{otro}}</li>
  {{#each comentarios}}
  <label>
    <ul class="list-group">
      <li class="list-group-item disabled">{{userName}}</li>
      <li class="list-group-item">{{comentario}}</li>
      <li class="list-group-item">Puntaje: {{puntaje}}</li>
    </ul>
  </label>
  {{/each}}
</ul>
