<!-- aca se debe mostrar el producto con sus comentarios -->
<!-- ver codigo gitLab para ver sintaxis -->

 <ul class="list-group">
   <li>hola</li>
  {{#each comentario}}

      <li class="list-group-item">{{id_producto}} ----- {{comentario}} ----- {{puntaje}}</li>

  {{/each}}
</ul>
